@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  background-color: #1d1a19;
}

.active {
  @apply bg-gradient-to-l from-[#F4C377] to-[#EFA348] bg-clip-text text-transparent decoration-orange-200
}

.heroSection {
  background-image: url('../../public/Hero Image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-shrink: 0;
  height: 700px;
}

.primary-button {
  background-color: #f4c377;

  padding: 10px, 20px, 10px, 20px;
  border-radius: 4px;
}

.gradient-text {
  @apply text-4xl font-bold bg-gradient-to-l from-[#F4C377] to-[#EFA348] bg-clip-text text-transparent
}

.secondary-button {

  padding: 10px, 20px, 10px, 20px;
  border-radius: 4px;
  border: solid 1px #F4C377;
}